<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <indexUpdateStrategies>
          <intervalAsyncCore>
            <CheckForThreshold>false</CheckForThreshold>
          </intervalAsyncCore>
          <intervalAsyncMaster>
            <CheckForThreshold>false</CheckForThreshold>
          </intervalAsyncMaster>
          <onPublishEndAsync>
            <CheckForThreshold>false</CheckForThreshold>
          </onPublishEndAsync>
          <onPublishEndAsyncSingleInstance>
            <CheckForThreshold>false</CheckForThreshold>
          </onPublishEndAsyncSingleInstance>
        </indexUpdateStrategies>
			</indexConfigurations>
      <onPublishEndAsyncSingleInstance>
        <CheckForThreshold>false</CheckForThreshold>
      </onPublishEndAsyncSingleInstance>
    </contentSearch>
		<settings>		
			<setting name="ContentSearch.FullRebuildItemCountThreshold" set:value="2147483647" />
		</settings>
  </sitecore>
</configuration>
